// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.glyphicon-user:before {
  margin-right: -12px;
}

.glyphicon-user:before {
  margin-right: -12px;
}

.glyphicon-phone-alt:before {
  margin-right: -12px;
}

.glyphicon-home:before {
  margin-right: -12px;
}

.glyphicon-log-in:before {
  margin-right: -12px;
}

.glyphicon-off:before {
  margin-right: -12px;
}

.glyphicon-remove-sign:before {
  margin-right: -12px;
}

.navbar-brand:hover, 
.navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:1px 0
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}

.info-block.block-info.clearfix
{
    background-color:#e6ffff; padding:5px; border-radius: 10px;
}