<footer class="footer" style="background: #b4e391">
	<div class="container-centered">
		<p class="text-muted">© 2018 EBSERH - Empresa Brasileira de Serviços Hospitalares. Todos os direitos reservados. </p>
	</div>
</footer>